---
layout: homepage
description: 
---

<div class="home">
    <style scoped>
        {% assign image = site.header_feature_image | relative_url | split: '.' %}
        .call-out_img {
            background-image: url('{{ image | join: '.' }}');
        }
        {% if site.header_feature_image_responsive %}
            @media screen and (max-width: 768px) {
                .call-out_img {
                    background-image: url('{{ image[0] | append: '-medium.' | append: image[1] | default: image }}');
                }
            }
            @media screen and (max-width: 576px) {
                .call-out_img {
                    background-image: url('{{ image[0] | append: '-small.' | append: image[1] }}');
                }
            }
        {% endif %}
    </style>
    
    <div id="main" class="call-out call-out_img">
        <h1 class="hero-title">
            <span class="desktop-title">
                {{ site.header_text }}
            </span>
            <img 
                src="{{ '/assets/img/logo.png' | relative_url }}" 
                alt="{{ site.title }} logo"
                class="mobile-logo"
            >
        </h1>
    </div>
    <div class="posts">
        <div class="post-teaser">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/supGaxdeLl4?autoplay=1&mute=1"  frameborder="0" allowfullscreen></iframe>
            <div class="button-container">
            <br>
                <a href="shows" class="button-inverse">Upcoming shows</a>
            </div>
        </div>
    </div>
    
    <div class="posts" id="news">
        <div class="post-teaser">

                <header>
                <h2>Keeping 50s energy alive in Charleston</h2>
                </header>
            <div class="excerpt">
            <p>
                Your event deserves timeless classics that keep guests dancing, singing, and wanting more.<br><br>

                Charleston’s Dan and the Donuts keep the 50s dancehall party going all night long, delivering a high-energy soundtrack from the golden age of rock 'n' roll.<br><br>

                Dan and the Donuts revive the golden age of music and bring it straight to your venue, wedding, or private party. With infectious rhythms, crowd-favorite hits, and an authentic retro vibe, we guarantee your guests will be twisting, jiving, and singing along from the first song to the final encore.
            </p>
            </div>
            <div class="button-container">
                <a href="mailto:#" class="button-inverse">Book Us</a>
            </div>
        </div>  
    </div>

    <div class="banner">
        <h3>Contact us</h3>
        <p>We'd love to play at your event!</p>
        <p>Email us at <a href="mailto:#">email@email.com</a> for more information.
</p>

    </div>

    {% comment %}
        {% capture _blog %}{% include blog/blog.liquid %}{% endcapture %} 
        {{ _blog | split: " " | join: " " }} 
    {% endcomment %}
</div>
